includes:
  - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - src/DependencyInjection/Configuration.php
